.titleCell {
	text-align: right;
}

.header {
	font-size: larger;
	padding: 8px;
}

.rf-pp-hdr-cntrls a {
	padding: 2px 2px 2px 8px;
}

.rf-msgs-inf {
	color: green;
}

.update {
	margin-top: 10px;
	padding: 8px 0px;
}

.update div {
	color: #006400;
	padding: 6px 4px;
}

.subtitulo {
	font-family: sans-serif;
	font-size: 14pt;
	color: #5885BE;
}

.subtitulo2 {
	font-family: sans-serif;
	font-size: 12pt;
	color: #5885BE;
}

.col1fil1proveedor {
	width: 25%;
}

.col2fil1proveedor {
	width: 25%;
}

.col3fil1proveedor {
	width: 25%;
}

.col4fil1proveedor {
	width: 25%;
}

.col1fil2proveedor {
	width: 25%;
}

.col2fil2proveedor {
	width: 75%;
}

.col1fil2Negrita {
	width: 25%;
	font-weight: bold;
}

.col1fil2Negrita2 {
	width: 25%;
	font-weight: bold;
}

.col2fil2Negrita {
	width: 85%;
}

#estilos general
.col1fil1formulario {
	width: 15%;
}

.col2fil1formulario {
	width: 35%;
}

.col3fil1formulario {
	width: 15%;
}

.col4fil1formulario {
	width: 35%;
}

.col1fil2formulario {
	width: 15%;
}

.col2fil2formulario {
	width: 85%;
}

.col1fil3formulario {
	width: 15%;
	text-align: left;
}

.col2fil3formulario {
	width: 85%;
	text-align: left;
}
.col1iconoformulario{
	vertical-align: top;
}

.estiloBoton1 {
	height: 20px;
	width: 150px;
}
.estiloBoton2{
	height: 20px;
	width: 100px;
}

.estilocampo1 {
	text-transform: uppercase;
}
.col1RSPN{
	width: 90%;
	text-align: left;
	font-weight: bold;
	
}
.col2RSPN{
	width: 10%;
	text-align: right;
	font-weight: bold;
}
.col1form{
	width: 20%;
	text-align: left;
	font-weight: bold;
}
.col2form{
	width: 30%;
	text-align: left;
}
.col3form{
	width: 80%;
	text-align: left;
}
.textNegrita{
	width: 20%;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
}
.textSinNegrita{
	width: 30%;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: blue;
}
.colNov1{
	width: 20%;
}
.colNov2{
	width: 30%;
}
.colNov3{
	width: 20%;
}
.colNov4{
	width: 30%;
}
.colNov5{
	width: 80%;
}
.col1confirm{
	width:20%;
	text-align: center;
}
.col2confirm{
	width:80%;
	font-weight: bold;
}
.columna1Tabla{
	width:100%;
	text-align: center;
}
.col1servicio{
	width: 20%;
	text-align: left;
}
.col2servivio{
	width: 80%;
	text-align: left;
}
.col1TablaCentro{
	width: 20%;
}
.col2TablaCentro{
	width: 60%;
}
.col3TablaCentro{
	width: 20%;
}
.col1TablaCentroBotones{
	width: 20%;
}
.col2TablaCentroBotones{
	width: 60%;
	margin: auto;
}
.col3TablaCentroBotones{
	width: 20%;
}
.detaServicio1Col{
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	width: 20%;
}
.detaServicio2Col{
	text-align: left;
	font-size: 11px;
	width: 30%;
}
